/* Semantic HTML related  */
.hidden-outline {
  display: none; }

/* Main page  */
.section-title {
  background-color: #123;
  color: #499;
  padding: 1rem;
  text-align: start;
  font: italic 400 1.5rem Verdana; }

section:nth-child(3) {
  margin-bottom: 25rem; }

/* Navbar */
.navbar-burger,
.navbar-item {
  cursor: pointer;
  color: lightblue; }
  .navbar-burger:hover,
  .navbar-item:hover {
    background-color: #dedede;
    color: #222; }
  .navbar-burger p,
  .navbar-item p {
    transition: all 500ms ease-in-out; }

.is-at-top {
  /* display: none; */
  transform: translateY(-200%);
  transition: all 500ms ease-in; }

.is-current {
  outline: 1px double #777;
  outline-offset: 0.5rem; }

/* Project container */
.project-title {
  border-top: 1px dashed #222;
  border-bottom: 1px dashed #222;
  padding: 1rem;
  text-align: center;
  font: 500 1.2rem Verdana; }

/* Contacts */
.controlled-width-section {
  max-width: 1000px;
  margin: 4rem auto;
  padding: 1rem; }

.slide-enter {
  transform: translateX(-100%); }

.slide-enter-active {
  transform: translateX(0);
  transition: all 1s ease-in; }

.slide-enter-done {
  transform: translateX(0); }

.slide-exit {
  transform: translateX(0); }

.slide-exit-active {
  transform: translateX(-100%);
  transition: all 1s ease-out; }

.slide-exit-done {
  transform: translateX(-100%); }

/* Footer */
.footer-stripe {
  background-color: #123;
  color: #499;
  box-shadow: 0 -2px #499;
  padding: 1rem 2rem;
  text-align: center;
  font: italic 400 0.75rem Helvetica; }

.social-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 1rem; }

.footer-text {
  margin: 1rem; }

@media screen and (max-width: 768px) {
  section:nth-child(3) {
    margin-bottom: 15rem; } }

@media screen and (max-width: 400px) {
  .is-optional {
    display: none; } }
