@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Custom navbar
$navbar-background-color: #123;
$navbar-box-shadow-color: #499;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

@import "../../node_modules/bulma/bulma.sass";
