@mixin slide-in-out {
  .slide-enter {
    transform: translateX(-100%);
  }

  .slide-enter-active {
    transform: translateX(0);
    transition: all 1s ease-in;
  }

  .slide-enter-done {
    transform: translateX(0);
  }

  .slide-exit {
    transform: translateX(0);
  }

  .slide-exit-active {
    transform: translateX(-100%);
    transition: all 1s ease-out;
  }

  .slide-exit-done {
    transform: translateX(-100%);
  }
}

.is-current {
  text-decoration: underline overline crimson;
  background-color: lightcoral;
  transition: all 150ms linear;
}

.section-title {
  background-color: #123;
  color: #499;

  padding: 1rem;
  text-align: start;
  font: italic 400 1.5rem Verdana;
}

.project-title {
  border-top: 1px dashed #222;
  border-bottom: 1px dashed #222;
  padding: 1rem;
  text-align: center;
  font: 500 1.2rem Verdana;
}

.bottom {
  margin-bottom: 800px;
  border: 1px solid red;
}

.very-bottom {
  margin-bottom: 800px;
  border: 1px solid red;
}
@include slide-in-out();
