@mixin slide-in-out {
  .slide-enter {
    transform: translateX(-100%);
  }

  .slide-enter-active {
    transform: translateX(0);
    transition: all 1s ease-in;
  }

  .slide-enter-done {
    transform: translateX(0);
  }

  .slide-exit {
    transform: translateX(0);
  }

  .slide-exit-active {
    transform: translateX(-100%);
    transition: all 1s ease-out;
  }

  .slide-exit-done {
    transform: translateX(-100%);
  }
}

/* Semantic HTML related  */
.hidden-outline {
  display: none;
}

/* Main page  */

.section-title {
  background-color: #123;
  color: #499;

  padding: 1rem;
  text-align: start;
  font: italic 400 1.5rem Verdana;
}

.very-bottom {
  height: 1000px;
}
/* Navbar */

.navbar-end {
  .navbar-item {
    color: lightblue;
    &:hover {
      background-color: #dedede;
      color: #222;
    }

    p {
      transition: all 500ms ease-in-out;
    }
  }
}

.is-at-top {
  display: none;
}

.is-current {
  outline: 1px double #777;
  outline-offset: 0.5rem;
}
/* Project container */
.project-title {
  border-top: 1px dashed #222;
  border-bottom: 1px dashed #222;
  padding: 1rem;
  text-align: center;
  font: 500 1.2rem Verdana;
}

/* Contacts */
.controlled-form {
  max-width: 1000px;
  margin: 6rem auto;
}
@include slide-in-out();
