$palette-main: #123;
$palette-main-light: #499;
$palette-main-lighter: #add8e6;
$palette-light: #dedede;
$palette-dark: #222;

@mixin slide-in-out {
  .slide-enter {
    transform: translateX(-100%);
  }

  .slide-enter-active {
    transform: translateX(0);
    transition: all 1s ease-in;
  }

  .slide-enter-done {
    transform: translateX(0);
  }

  .slide-exit {
    transform: translateX(0);
  }

  .slide-exit-active {
    transform: translateX(-100%);
    transition: all 1s ease-out;
  }

  .slide-exit-done {
    transform: translateX(-100%);
  }
}

/* Semantic HTML related  */
.hidden-outline {
  display: none;
}

/****************************************************************/
/********************** Navbar **********************************/
/****************************************************************/

.navbar,
.navbar-menu {
  background-color: $palette-main;
  box-shadow: 0 2px $palette-main-light;
}

.navbar-burger,
.navbar-item {
  cursor: pointer;
  color: $palette-main-lighter;
  &:hover {
    background-color: $palette-light;
    color: $palette-dark;
  }

  p {
    transition: all 500ms ease-in-out;
  }
}

.is-at-top {
  /* display: none; */
  transform: translateY(-200%);
  transition: all 500ms ease-in;
}

.is-current {
  outline: 1px double $palette-main-lighter;
  outline-offset: 0.5rem;
}

/****************************************************************/
/********************** Hero ************************************/
/****************************************************************/
.hero.is-fullheight {
  background: radial-gradient(
    farthest-corner at 0px 0px,
    $palette-main,
    $palette-main-light 80%
  );
}

.hero-header {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  margin-top: 20rem;
}

@keyframes slide-in {
  0% {
    margin-left: 5%;
  }

  50% {
    margin-left: 9%;
  }

  100% {
    margin-left: 7%;
  }
}

.hero-title {
  color: $palette-main;
  font: 600 4rem Courier;
  text-shadow: 2px 2px 8px $palette-main-light;
  flex: 100% 0 0;
  animation: slide-in 10s forwards;
}

@keyframes slide-in-reverse {
  0% {
    margin-left: 15%;
  }

  50% {
    margin-left: 11%;
  }

  100% {
    margin-left: 13%;
  }
}
.hero-subtitle {
  color: $palette-main-light;
  font: 600 3rem Courier;
  text-shadow: 2px 2px 8px $palette-main;
  margin-left: 15%;
  animation: slide-in-reverse 10s forwards;
}

// svg
.svg-container {
  position: relative;
  height: 100vh;
}

.svg-main-path {
  fill: $palette-main;
}

.svg-line {
  stroke: $palette-main-light;
  stroke-width: 0.2;
}

/****************************************************************/
/********************** Project section *************************/
/****************************************************************/

.section-title {
  background-color: $palette-main;
  color: $palette-main-light;

  padding: 1rem;
  text-align: start;
  font: italic 400 1.5rem Verdana;
}

section:nth-child(3) {
  margin-bottom: 25rem;
}

//Project container
.project-title {
  border-top: 1px dashed $palette-dark;
  border-bottom: 1px dashed $palette-dark;
  padding: 1rem;
  text-align: center;
  font: 500 1.2rem Verdana;
}

.project-caption {
  padding: 0.5rem;
}

.project-description {
  white-space: pre-wrap;
}

/****************************************************************/
/********************** Contacts ********************************/
/****************************************************************/
.controlled-width-section {
  max-width: 1000px;
  margin: 4rem auto;
  padding: 1rem;
}
@include slide-in-out();

/****************************************************************/
/********************** Footer **********************************/
/****************************************************************/

.footer-stripe {
  background-color: $palette-main;
  color: $palette-main-light;

  box-shadow: 0 -2px $palette-main-light;
  padding: 1rem 2rem;
  text-align: center;
  font: italic 400 0.75rem Helvetica;
}

.social-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  max-width: 600px;

  margin: auto;
  padding: 1rem;
}

.footer-text {
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  section:nth-child(3) {
    margin-bottom: 15rem;
  }
}

@media screen and (max-width: 400px) {
  .is-optional {
    display: none;
  }
}

/* .palette {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 500px;
  width: 600px;
  background: linear-gradient(
    to left,
    #123,
    #123 100px,
    #499 100px,
    #499 200px,
    lightblue 200px,
    lightblue 300px,
    #dedede 300px,
    #dedede 400px,
    #222 400px,
    #222 500px,
    #777 500px,
    #777 600px
  );
} */

/* 
#123
 - section title [background-color]
 - footer-stripe [background-color]

 #499
 - section title [color]
 - footer-stripe [color]
 - footer-stripe [box-shadow]

 #add8e6
  - navbar-burger [color]
  - navbar-menu [color]

 #dedede
  - navbar-burger:hover [background-color]

  #222
  - navbar-menu:hover [color]
  - project-title [border-top]
  - project-title [border-bottom]

  #777
   - is-current(outline)
*/
